<div class="row">
    <div class="col-md">
        <div class="article-body">
            <h4 class="sub-banner">{{title}}<span class="article-author">{{user.name}}</span></h4>
            <p>
                {{content}}
            </p>
        </div>
    </div>
</div>