<div class="row">
    <div class="col-md">
        <div class="article-body">
            <h6 class="sub-banner"></span></h6>
            <p>
                {{content}}
            </p>
            <p>
                -- {{user.name}}, {{{dateFormat createdAt}}}
            </p>
        </div>
    </div>
</div>