:root{
    --header-background:rgb(66, 20, 36);
    --body-bakground: rgb(179, 212, 181);
}

body{
    background-color: var(--body-bakground);
}

.page-title{
    background-color: var(--body-bakground);
    color: var(--header-background);
    padding:2px 16px; 
    margin:30px;
    text-align: left;
    border-radius: 10px;
    box-shadow: gray 4px 3px;
}

.banner{
    background-color: var(--header-background);
    color:var(--body-bakground);
    height: 105px;
}


.sub-banner{
    background-color: var(--header-background);
    color:var(--body-bakground);
    height: 30px;
}


.article-container{
    padding-left: 5%;
    padding-right: 5%;

}

.article-body{
    margin-top:10px;
    border-style: solid;
    border-color:var(--header-background);
}


.nav-item{
    display:inline-block;
    margin-top:10px;
    margin-right:3%;
    color:var(--body-bakground)
}

.nav-link{
    color:var(--body-bakground)
}
.nav-link:visited{
    color:var(--body-bakground)
}



